.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 60px solid #FFE5B4;
    background-image : url("https://i.pinimg.com/564x/6a/df/aa/6adfaa7c7675e844b35df4db157ac751.jpg");
  color: whitesmoke;
  }
  


  .list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px;
    padding: 1px;
    flex-wrap: wrap;
    width: 80vw;
   
  }
  
  .listItem {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 5px;
    border: 20px solid #d3ec98;
    font-size: 1.4rem;
    text-align: center;
  }
  
  .byttonupdate{
    background-color: #d34e6a;
    border-radius: 10%;
    border: none;
    color:#FFE5B4;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .box{
    background-color: white;
    }
  